<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}">
</head>
<body>
    <div class="text-center">
        <h1 class="text-4xl text-green-800">hellow boys welcome to My World</h1>
        <p class="text-2xl">Youtube channel : <span data-th-text="${youtube_channel}"></span></p>
        <a th:href="${github}" class="text-blue-600">click here to open github</a>
        <p>Lorem ipsum, dolor sit amet consectetur veritatis nostrum.</p>
    </div>
</body>
</html>